<?xml version="1.0"?>
<!-- Launch file that starts the testing nodes -->
<launch>
	<arg name="cpu_mode" default="false"/>

	<!-- Start the fasterRCNN node, add the cpu arg if the user is in cpu mode -->
	<node if="$(arg cpu_mode)" name="fasterRCNN" pkg="ros_faster_rcnn" type="simpleDetect.py" args="--cpu"/>
	<!--the simpleDetect2 is for the colored image thread.SimpleDetect3 is for the thermal image thread, considering the multiple threads will affect the processing performance-->
	<node unless="$(arg cpu_mode)" name="fasterRCNN" pkg="ros_faster_rcnn" type="simpleDetect2.py" /> 
	<!--node unless="$(arg cpu_mode)" name="fasterRCNN" pkg="ros_faster_rcnn" type="simpleDetect3.py"/-->
</launch>
